nav {
  margin-bottom: 20px;
  background-color: white; }

.iphone {
  background-color: #F7B617; }

h4 {
  background-color: #F7B617;
  color: rgba(255, 255, 255, 0.979) !important;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500; }

.driver {
  background: #F7B617;
  background-image: url("../assets/conduce.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1; }

.suscribe {
  color: rgba(255, 255, 255, 0.979) !important;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  margin-top: 6em;
  margin-bottom: 8em;
  margin-left: 2em; }

.btn-warning {
  color: white !important; }

.ruta {
  background-color: #F7B617; }

.form {
  margin-top: 3em;
  margin-left: .5em;
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(255, 255, 255, 0.979); }

button {
  margin: 1em !important; }

.map {
  padding: 4em 3em 2em 3em; }

.bottom-view {
  background-color: #2B2B2B; }

li,
p {
  color: rgba(255, 255, 255, 0.979);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  padding-left: 2em; }
