nav {
  margin-bottom: 20px;
  background-color: white; }

.iphone {
  background-color: #F7B617; }

h4 {
  background-color: #F7B617;
  color: rgba(255, 255, 255, 0.979) !important;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500; }

.driver {
  background: #F7B617;
  background-image: url("../assets/conduce.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1; }

.suscribe p {
  color: rgba(255, 255, 255, 0.979) !important;
  font-weight: 500;
  margin-top: .5em;
  font-family: "Source Sans Pro", sans-serif; }
