$background-color: #F7B617;
$font-color: rgba(255, 255, 255, 0.979);
$font-family: 'Source Sans Pro', sans-serif;
$background-bottom-color: #2B2B2B;

nav{
    margin-bottom: 20px;
    background-color: white;
}

.iphone{
    background-color: $background-color;
}

h4{
    background-color: $background-color;
    color: $font-color !important;
    font-family: $font-family;
    font-weight: 500;
}

.driver{
    background: $background-color;
    background-image: url('../assets/conduce.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.suscribe{
    color: $font-color !important;
    font-family: $font-family;
    font-weight: 500;
    margin-top: 6em;
    margin-bottom: 8em;
    margin-left: 2em;
}

.btn-warning {
    color: white !important;
    // margin: 4em; Acomodar este margen
}

.ruta{
    background-color: $background-color;
}

.form{
    margin-top: 3em;
    margin-left: .5em;
    font-family: $font-family;
    color: $font-color;
}

button{
    margin: 1em !important;
}

.map{
  padding: 4em 3em 2em 3em;
}

.bottom-view{
    background-color: $background-bottom-color;
}

li,
p{
    color: $font-color;
    font-family: $font-family;
    font-size: 15px;
    padding-left: 2em;
}