$background-color: #F7B617;
$font-color: rgba(255, 255, 255, 0.979);
$font-family: 'Source Sans Pro', sans-serif;

nav{
    margin-bottom: 20px;
    background-color: white;
}

.iphone{
    background-color: $background-color;

}

h4{
    // margin-top: 10px;
    background-color: $background-color;
    color: $font-color !important;
    font-family: $font-family;
    font-weight: 500;
    // width: auto 0;
}

.driver{
    background: $background-color;
    background-image: url('../assets/conduce.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.suscribe{
    color: $font-color !important;
    font-family: $font-family;
    font-weight: 500;
    margin-top: 6em;
    margin-bottom: 8em;
    margin-left: 2em;
}

.btn-warning {
    color: white !important;
}